body{
    
}

#logo {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

.navbar-nav { 
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }

/*footer*/
.footer{
    width:100%; 
    height:50px; 
    text-align: center;

}

/*facebook icon*/


/*intro-welcome*/
.lead{
    font-color: #3a3a3a;
    padding-top: 65px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: center;
}

intro .header{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding: 10px 0px;
}

.info-footer{
    padding: 10px 0px;
    background: rgba(0,0,0,0.2);
    font-size: 12px;
    font-weight: 300
}
/*cards - different services*/
.card{
    padding-bottom: 15px;
}

/*logo*/
#slider{
    text-align: center;
}

.img{
    width: 800px;
    height: 400px;
}
/*image slider*/

#images {
  width: 800px;
  height: 400px;
  overflow: hidden;
  position: relative;
  
  margin: 20px auto;
}
#images img {
  width: 800px;
  height: 400px;
  
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  
  transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms;
}
#images img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#images img:first-child {
  left: 0;
  opacity: 1;
}
#slider a {
  text-decoration: none;
  background: #E3F1FA;
  border: 1px solid #C6E4F2;
  padding: 4px 6px;
  color: #222;
}
#slider a:hover {
  background: #C6E4F2;
}