body{
    text-align: center;
}

div{
    display: block;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

.navbar-nav { 
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }

/*footer*/
.footer{
    width:100%; 
    height:50px; 
    text-align: center;

}

/*facebook icon*/


/*intro-welcome*/
.lead{
    font-color: #3a3a3a;
    padding-top: 65px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: center;
}

intro .header{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding: 10px 0px;
}

.info-footer{
    padding: 10px 0px;
    background: rgba(0,0,0,0.2);
    font-size: 12px;
    font-weight: 300
}
/*cards - different services*/

.card{
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Request Button*/
.button{
    padding: 15px 0px; 
}

/*Head- Picture*/
.header-pic{
    padding: 20px 0px;
}
/*logo*/

/*timed slideshow*/

/*modal */
